* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

:root {
  --circleSize: 40;
}

/* Topbar section */

.topbar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #2d2e33;
  align-items: center;
}

.topbar__left,
.topbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__left {
  margin-right: 37%;
}

.topbar__p {
  position: relative;
  top: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.topbar__p a {
  color: #babec2;
}

/* Nav Section */

.nav__nav {
  background-color: #00549a;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.nav__div1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  position: relative;
  
}

.nav__logo {
  color: #FFF;
  font-size: 3rem;
  letter-spacing: -0.23rem;
  margin-right: 2rem;
  white-space: nowrap;
}

.nav__link {
  color: #C2CEDF;
  font-size: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 300;
}

.nav__link:active,
.nav__link:hover {
  color: #FFF;
  text-decoration: none;
}

.nav__div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__form {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__form-input {
  border-radius: 20px;
  width: 15rem;
  height: 2.5rem;
  vertical-align: center;
  text-indent: 5%;
  border: none;
}

.nav__form-search {
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 1.2rem;
  right: 0.5rem;
  color: #00549a;
  cursor: pointer;
}

.nav__form-microphone {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1.2rem;
  font-size: 1.2rem;
  margin: 1rem;
  color: #00549a;
  cursor: pointer;
}

.nav__login {
  border-radius: 20px;
  background-color: transparent;
  color: #FFF;
  border: 3px solid #FFF;
  margin-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.nav__login:hover {
  filter: brightness(3);
}

.nav__cart {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/* Location Section */

.location {
  height: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.location__left {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location__div {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.location__region {
  margin-top: 0.75rem;
  margin-bottom: 0;
  color: #2d2e33;
}

.location__current {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 4rem;
}

.location__change {
  color: #00549a;
  text-decoration: underline;
  margin-right: 1rem;
}

.location__arrow {
  font-weight: 800;
  font-size: 1.25rem;
  text-decoration: none;
  color: #00549a;
  cursor: pointer;
}

.location__right {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location__right span {
  font-size: 2rem;
  font-weight: lighter;
  color: #babec2;
  cursor: pointer;
}

/* image slider */

main {
  margin: 0 auto;
  width: 100%;
}

.slider {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.img_active {
  opacity: 1;
  z-index: 1;
}

.img_inactive {
  opacity: 0;
  z-index: 0;
}

.slider__div {
  display: flex;
  /* margin-top: 1rem; */
  flex: 1;
  position: absolute;
  /* overflow: hidden; */
  height: 100%;
  margin: 0 auto;
}

.slider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  text-align: center;
}

.slider__text-title {
  font-size: 2rem;
  font-weight: bold;
}

.slider__text-button {
  background-color: #003778;
  color: #FFF;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  padding: 0.25rem;
}

.slider__button-container {
  position: absolute;
  z-index: 1;
  top: 85%;
  right: 10%;
  display: flex;
}

.slider__right,
.slider__left {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-left: 1rem;
  background-color: #003778;
  color: #FFF;
  font-weight: bold;
  /* transform: translate(0, -50%); */
  cursor: pointer;
  border-radius: 50%;
}

.slider__left p,
.slider__right p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-top: 8px;
}

.slider__left p {
  padding-right: 3px;
}

.slider__right p {
  padding-left: 3px;
}

.slider__pillbox {
  display: flex;
  width: 4rem;
  height: 3rem;
  padding: 0.5rem 3rem;
  border-radius: 38px;
  z-index: 1;
  position: absolute;
  right: 20%;
  top: 85%;
  background-color: #fff;
  color: #000;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.slider__pillbox-1,
.slider__pillbox-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.5rem;
  width: 0.5rem;
  padding: 1.30rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.slider__pillbox-2 {
  position: relative;
  margin-left: 0.75rem;
}

.slider__pillbox-selected {
  background-color: #00549a;
  color: #FFF;
}
/* 
svg {
  max-width: 100%;
  vertical-align: middle;
  margin: auto;
} */

.slider__container {
  position: absolute;
  overflow: visible;
  right: 16.5%;
  top: 74%;
  width: 4rem;
  height: 4rem;
}

.slider__pause {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 72px;
  z-index: 2;
  position: absolute;
  right: 17%;
  top: 85%;
  font-weight: bold;
  cursor: pointer;
  overflow: visible;
}

.slider__pause-icon {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10%;
  left: 3%;
  z-index: 2;
  overflow: visible;
}

/* .circle_animation {
  z-index: -1;
  position: relative;
  top: -90%;
}

.circle_animation-circle {
  z-index: 0;
} */

.svg-indicator {
  z-index: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 100%;
  height: 100%; */
  overflow: visible;
  height: 8rem;
  width: 8rem;
  position: absolute;

  /* position: absolute;
  right: -25%;
  bottom: -90%; */
}

.svg-indicator-track{
  
}