/* Nav Section */

.nav__nav {
  background-color: #00549a;
  color: #FFF;
}

.nav__logo {
  color: #FFF;
  font-size: 3rem;
  letter-spacing: -0.20rem;
}

.nav__div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  vertical-align: middle;
}

.nav__link {
  color: #C2CEDF;
  font-size: 2rem;
}

.nav__link:active,
.nav__link:hover {
  color: #FFF;
}